/* Page wide formatting */
body {
    max-width: 1280px;
    margin: auto;
    padding-left: 4%;
    padding-right: 4%;
}

p,h2 {
    font-family: 'Noto Serif SC', serif;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

/* @media only screen and (max-width: 480px) {
    #name-header {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 15%;
    }
}

@media only screen and (min-width: 480px) {
    #name-header {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 15%;
    }
} */

/* Name header component */

#name-header>h1 {
    font-size: 120px;
    text-align: center;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-bottom: 0px;
    background-image: url('/resources/img/background.jpg');
    /* Fallback: assume this color ON TOP of image */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 20%;
    text-transform: uppercase;
    -webkit-animation: scrollingbg 50s infinite linear 0s;
}

@-webkit-keyframes scrollingbg {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: 100% 00%;
    }
}

/* Subtitle */
#name-header>p,h2 {
    text-align: center;
}

.skillset {
    margin-bottom: 14px;
    font-weight: bold;
}

.contact {
    font-style: italic;
}

.icon-space {
    padding-left: 24px;
}

.icon-space-right {
    padding-right: 4px;
}